In [103]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [15]:
#df_train["Time of Day"] = df_train["Time of Day"].map({"Night":1,"Morning":2,"Afternoon":3,"Evening":4}) #labels=["Night", "Morning", "Afternoon", "Evening"]
data2["Day of the week"] = data2["Day of the week"].map({"Monday":0,"Tuesday":1,"Wednesday":2,"Thursday":3,"Friday":4,"Saturday":5,"Sunday":6})

In [16]:
data2

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,12:00:00 AM,10,1,31,0,4,4,39,low
1,12:15:00 AM,10,1,49,0,3,3,55,low
2,12:30:00 AM,10,1,46,0,3,6,55,low
3,12:45:00 AM,10,1,51,0,2,5,58,low
4,1:00:00 AM,10,1,57,6,15,16,94,normal
...,...,...,...,...,...,...,...,...,...
2971,10:45:00 PM,9,3,16,3,1,36,56,normal
2972,11:00:00 PM,9,3,11,0,1,30,42,normal
2973,11:15:00 PM,9,3,15,4,1,25,45,normal
2974,11:30:00 PM,9,3,16,5,0,27,48,normal
2975,11:45:00 PM,9,3,14,3,1,15,33,normal

In [17]:
data2["Traffic Situation"] = data2["Traffic Situation"].map({"low":int(0),"normal":int(1),"high":int(2)})

In [18]:
data2

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,12:00:00 AM,10,1,31,0,4,4,39,0.0
1,12:15:00 AM,10,1,49,0,3,3,55,0.0
2,12:30:00 AM,10,1,46,0,3,6,55,0.0
3,12:45:00 AM,10,1,51,0,2,5,58,0.0
4,1:00:00 AM,10,1,57,6,15,16,94,1.0
...,...,...,...,...,...,...,...,...,...
2971,10:45:00 PM,9,3,16,3,1,36,56,1.0
2972,11:00:00 PM,9,3,11,0,1,30,42,1.0
2973,11:15:00 PM,9,3,15,4,1,25,45,1.0
2974,11:30:00 PM,9,3,16,5,0,27,48,1.0
2975,11:45:00 PM,9,3,14,3,1,15,33,1.0

In [19]:
data2.describe()

,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
count,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2294.000000
mean,16.000000,2.903226,68.696573,14.917339,15.279570,15.324933,114.218414,1.007411
std,8.945775,1.940643,45.850693,12.847518,14.341986,10.603833,60.190627,0.522028
min,1.000000,0.000000,6.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,8.000000,1.000000,19.000000,5.000000,1.000000,6.000000,55.000000,1.000000
50%,16.000000,3.000000,64.000000,12.000000,12.000000,14.000000,109.000000,1.000000
75%,24.000000,5.000000,107.000000,22.000000,25.000000,23.000000,164.000000,1.000000
max,31.000000,6.000000,180.000000,70.000000,50.000000,40.000000,279.000000,2.000000

In [22]:
data2_inputs = data2[["Day of the week",	"CarCount",	"BikeCount",	"BusCount"	,"TruckCount"	,"Total",	"Traffic Situation"]]

In [23]:
data2_inputs

,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,1,31,0,4,4,39,0.0
1,1,49,0,3,3,55,0.0
2,1,46,0,3,6,55,0.0
3,1,51,0,2,5,58,0.0
4,1,57,6,15,16,94,1.0
...,...,...,...,...,...,...,...
2971,3,16,3,1,36,56,1.0
2972,3,11,0,1,30,42,1.0
2973,3,15,4,1,25,45,1.0
2974,3,16,5,0,27,48,1.0
2975,3,14,3,1,15,33,1.0

In [25]:
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from sklearn.preprocessing import MinMaxScaler

In [26]:
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data2_inputs)

In [27]:
data_scaled

array([[0.16666667, 0.14367816, 0.        , ..., 0.1       , 0.06976744,
        0.        ],
       [0.16666667, 0.24712644, 0.        , ..., 0.075     , 0.13178295,
        0.        ],
       [0.16666667, 0.22988506, 0.        , ..., 0.15      , 0.13178295,
        0.        ],
       ...,
       [0.5       , 0.05172414, 0.05714286, ..., 0.625     , 0.09302326,
        0.5       ],
       [0.5       , 0.05747126, 0.07142857, ..., 0.675     , 0.10465116,
        0.5       ],
       [0.5       , 0.04597701, 0.04285714, ..., 0.375     , 0.04651163,
        0.5       ]])

In [32]:
scaled_data=pd.DataFrame(data_scaled,columns=["Day of the week","CarCount","BikeCount","BusCount","TruckCount","Total","Traffic Situation"])

In [161]:
data2_inputs = data2_inputs.dropna()
data2_inputs.head(20)

,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,1,31,0,4,4,39,0.0
1,1,49,0,3,3,55,0.0
2,1,46,0,3,6,55,0.0
3,1,51,0,2,5,58,0.0
4,1,57,6,15,16,94,1.0
5,1,44,0,5,4,53,0.0
6,1,37,0,1,4,42,0.0
7,1,42,4,4,5,55,0.0
8,1,51,0,9,7,67,0.0
9,1,34,0,4,7,45,0.0
10,1,45,0,1,1,47,0.0
11,1,45,0,1,3,49,0.0
12,1,50,0,3,0,53,0.0
13,1,34,0,4,4,42,0.0
16,1,111,28,20,3,162,1.0
17,1,67,11,10,16,104,1.0
18,1,65,24,7,16,112,1.0
19,1,94,27,7,16,144,1.0
20,1,94,20,8,7,129,1.0
21,1,67,29,5,10,111,0.0

In [153]:
target=data2_inputs["Traffic Situation"]
features = data2_inputs[["Day of the week","CarCount","BikeCount","TruckCount","Total","Traffic Situation"]]
#feat = data2_inputs["Day of the week","CarCount","BikeCount","TruckCount","Total","Traffic Situation"]

In [154]:
tar=features.to_numpy()

In [155]:
target = target.to_numpy()

In [156]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(tar,target,test_size=0.2,random_state=123,shuffle=False)

In [157]:
win_length = 360
batch_size=32
num_features = 5
train_generator = TimeseriesGenerator(x_train,y_train,length = 360,sampling_rate=1, batch_size=32)
test_generator = TimeseriesGenerator(x_test,y_test,length=360,sampling_rate=1,batch_size=32)

In [158]:
train_generator[0]

(array([[[  1.,  31.,   0.,   4.,  39.,   0.],
         [  1.,  49.,   0.,   3.,  55.,   0.],
         [  1.,  46.,   0.,   6.,  55.,   0.],
         ...,
         [  5.,  58.,  19.,  17., 106.,   1.],
         [  5.,  70.,  10.,  32., 126.,   2.],
         [  5.,  10.,   1.,  33.,  44.,   1.]],

        [[  1.,  49.,   0.,   3.,  55.,   0.],
         [  1.,  46.,   0.,   6.,  55.,   0.],
         [  1.,  51.,   0.,   5.,  58.,   0.],
         ...,
         [  5.,  70.,  10.,  32., 126.,   2.],
         [  5.,  10.,   1.,  33.,  44.,   1.],
         [  5.,  14.,   1.,  40.,  56.,   1.]],

        [[  1.,  46.,   0.,   6.,  55.,   0.],
         [  1.,  51.,   0.,   5.,  58.,   0.],
         [  1.,  57.,   6.,  16.,  94.,   1.],
         ...,
         [  5.,  10.,   1.,  33.,  44.,   1.],
         [  5.,  14.,   1.,  40.,  56.,   1.],
         [  5.,  17.,   1.,  17.,  36.,   1.]],

        ...,

        [[  1.,  76.,   7.,  15., 109.,   1.],
         [  1.,  41.,  23.,  17., 101.,   1.],
         [  1.,  33.,  10.,  29.,  75.,   1.],
         ...,
         [  6.,  86.,  24.,  18., 131.,   1.],
         [  6.,  75.,   1.,  10.,  94.,   0.],
         [  6.,  75.,   1.,   9.,  92.,   0.]],

        [[  1.,  41.,  23.,  17., 101.,   1.],
         [  1.,  33.,  10.,  29.,  75.,   1.],
         [  1.,  58.,   8.,  29., 109.,   1.],
         ...,
         [  6.,  75.,   1.,  10.,  94.,   0.],
         [  6.,  75.,   1.,   9.,  92.,   0.],
         [  6.,  93.,   5.,   1., 103.,   0.]],

        [[  1.,  33.,  10.,  29.,  75.,   1.],
         [  1.,  58.,   8.,  29., 109.,   1.],
         [  1.,  65.,   7.,  26., 109.,   1.],
         ...,
         [  6.,  75.,   1.,   9.,  92.,   0.],
         [  6.,  93.,   5.,   1., 103.,   0.],
         [  6., 111.,   6.,   5., 124.,   1.]]]),
 array([1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 0., 0., 0., 1., 2.]))

In [52]:
scaled_data

,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,0.166667,0.143678,0.000000,0.08,0.100,0.069767,0.0
1,0.166667,0.247126,0.000000,0.06,0.075,0.131783,0.0
2,0.166667,0.229885,0.000000,0.06,0.150,0.131783,0.0
3,0.166667,0.258621,0.000000,0.04,0.125,0.143411,0.0
4,0.166667,0.293103,0.085714,0.30,0.400,0.282946,0.5
...,...,...,...,...,...,...,...
2971,0.500000,0.057471,0.042857,0.02,0.900,0.135659,0.5
2972,0.500000,0.028736,0.000000,0.02,0.750,0.081395,0.5
2973,0.500000,0.051724,0.057143,0.02,0.625,0.093023,0.5
2974,0.500000,0.057471,0.071429,0.00,0.675,0.104651,0.5
2975,0.500000,0.045977,0.042857,0.02,0.375,0.046512,0.5

In [173]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Embedding,Dropout
from tensorflow.keras.layers import Bidirectional

model = tf.keras.Sequential()
model.add(tf.keras.layers.LSTM(128, input_shape=(win_length, 6), return_sequences=True))
model.add(tf.keras.layers.LeakyReLU(alpha=0.5))
model.add(tf.keras.layers.LSTM(128, return_sequences=True))
model.add(tf.keras.layers.LeakyReLU(alpha=0.5))
model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.LSTM(64, return_sequences=False))
model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(1))

model = Sequential()
model.add(birectional(LSTM(64, input_shape=(win_length, 6), return_sequences=True)))
model.add(Dropout(0.3))
model.add(birectional(LSTM(32)))
model.add(Dropout(0.3))
model.add(Dense(7, activation='softmax'))

In [179]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Bidirectional, LSTM, Dense, Dropout
from tensorflow.keras.optimizers import Adam

# Define model
model = Sequential()
model.add(Bidirectional(LSTM(128, return_sequences=True, input_shape=(360, 6))))  # Corrected parentheses
model.add(Dropout(0.2))  # Prevent overfitting
model.add(Bidirectional(LSTM(64, return_sequences=False)))  # Fixed placement of Bidirectional
model.add(Dense(16, activation='relu'))  # Corrected misplaced comma
model.add(Dense(1, activation='sigmoid'))  # Binary classification

# Compile model
optimizer = Adam(learning_rate=0.001)
model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

# Train model
model.fit(train_generator,batch_size=64, epochs=20, verbose=1)

Epoch 1/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 21s 305ms/step - accuracy: 0.7210 - loss: -0.0116
Epoch 2/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 311ms/step - accuracy: 0.7109 - loss: -0.4459
Epoch 3/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 309ms/step - accuracy: 0.7124 - loss: -0.8939
Epoch 4/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 14s 307ms/step - accuracy: 0.7206 - loss: -2.1565
Epoch 5/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 315ms/step - accuracy: 0.7083 - loss: -1.3848
Epoch 6/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 311ms/step - accuracy: 0.7242 - loss: -4.3084
Epoch 7/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 318ms/step - accuracy: 0.7042 - loss: -6.9467
Epoch 8/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 309ms/step - accuracy: 0.6858 - loss: -7.7841
Epoch 9/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 312ms/step - accuracy: 0.7078 - loss: -10.9266
Epoch 10/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 308ms/step - accuracy: 0.7158 - loss: -14.9325
Epoch 11/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 310ms/step - accuracy: 0.6693 - loss: -2.6666
Epoch 12/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 316ms/step - accuracy: 0.6964 - loss: -0.4249
Epoch 13/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 310ms/step - accuracy: 0.7100 - loss: -3.1311
Epoch 14/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 310ms/step - accuracy: 0.7344 - loss: -2.7755
Epoch 15/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 313ms/step - accuracy: 0.7293 - loss: -8.3583
Epoch 16/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 314ms/step - accuracy: 0.7425 - loss: -7.4025
Epoch 17/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 317ms/step - accuracy: 0.7008 - loss: -14.8893
Epoch 18/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 310ms/step - accuracy: 0.7530 - loss: -12.8104
Epoch 19/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 310ms/step - accuracy: 0.7178 - loss: -22.1769
Epoch 20/20
47/47 ━━━━━━━━━━━━━━━━━━━━ 15s 314ms/step - accuracy: 0.7095 - loss: -21.9528

In [111]:
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ lstm_9 (LSTM)                        │ (None, 360, 64)             │          18,176 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_6 (Dropout)                  │ (None, 360, 64)             │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ lstm_10 (LSTM)                       │ (None, 32)                  │          12,416 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_7 (Dropout)                  │ (None, 32)                  │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_3 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 30,625 (119.63 KB)

 Trainable params: 30,625 (119.63 KB)

 Non-trainable params: 0 (0.00 B)

In [166]:
!pip install pydot graphviz
!pip install pydot

Requirement already satisfied: pydot in c:\users\bhinit rout\miniconda3\lib\site-packages (3.0.4)
Requirement already satisfied: graphviz in c:\users\bhinit rout\miniconda3\lib\site-packages (0.20.3)
Requirement already satisfied: pyparsing>=3.0.9 in c:\users\bhinit rout\miniconda3\lib\site-packages (from pydot) (3.0.9)
Requirement already satisfied: pydot in c:\users\bhinit rout\miniconda3\lib\site-packages (3.0.4)
Requirement already satisfied: pyparsing>=3.0.9 in c:\users\bhinit rout\miniconda3\lib\site-packages (from pydot) (3.0.9)

In [167]:
from tensorflow.keras.utils import plot_model
import matplotlib.pyplot as plt
from PIL import Image

# Save the model architecture as an image
plot_model(model, to_file="model_architecture.png", show_shapes=True, show_layer_names=True)

# Display the image
img = Image.open("model_architecture.png")
plt.figure(figsize=(10, 6))
plt.imshow(img)
plt.axis("off")
plt.show()

You must install pydot (`pip install pydot`) for `plot_model` to work.

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Bhinit Rout\\model_architecture.png'

In [168]:
from tensorflow.keras.utils import plot_model
from IPython.display import display
import matplotlib.pyplot as plt

# Generate model visualization
plot_model(model, show_shapes=True, show_layer_names=True, dpi=80)

You must install pydot (`pip install pydot`) for `plot_model` to work.

In [169]:
pred = model.predict(test_generator)

4/4 ━━━━━━━━━━━━━━━━━━━━ 1s 179ms/step

In [170]:
pred.shape[0]

99

In [171]:
pred

array([[1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [0.99999523],
       [0.9232937 ],
       [0.9021795 ],
       [0.8916296 ],
       [0.9338692 ],
       [0.91091996],
       [0.8841156 ],
       [0.84195477],
       [0.8084419 ],
       [0.803553  ],
       [0.8254197 ],
       [0.87247866],
       [0.86371595],
       [0.8566753 ],
       [0.83171254],
       [0.81400335],
       [0.8575903 ],
       [0.8581302 ],
       [0.8326205 ],
       [0.83003116],
       [0.8535723 ],
       [0.85564333],
       [0.87239194],
       [0.7223836 ],
       [0.7172119 ],
       [0.71290517],
       [0.64112437],
       [0.6301166 ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [1.        ],
       [0.99993557],
       [0.8757918 ],
       [0.9102912 ],
       [0.9180451 ],
       [0.90174013]], dtype=float32)